/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

.container {
    width: 75%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.red-cost {
    color: red;
    font-weight: bold;
}

.old-cost {
    text-decoration: line-through;
}

/* HEADER */

header {
    /* Debug */
    height: 100px;
}

/* MAIN */

/* Row */

.row {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Col */

.col {
    margin-top: 50px;
    width: calc(95% / 3);
    position: relative;
}

/* Hearts */

.heart {
    background-color: white;
    font-size: 2.5rem;
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 2;
}

.heart:hover {
    color: red;
}

/* Discount banner */

.discount-banner {
    position: absolute;
    left: 0;
    bottom: 120px;
    color: white;
    z-index: 2;
}

.banner-red,
.banner-green {
    display: inline-block;
    padding: .3em;
    font-weight: bold;
}

.banner-red{
    background-color: red;
    margin-right: 5px;
}

.banner-green {
    background-color: green;
}

/* Hover Section */

.over-photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.col:hover .over-photo {
    z-index: 1;
}
