/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

.container {
    width: 75%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.red-cost {
    color: red;
    font-weight: bold;
}

.old-cost {
    text-decoration: line-through;
}

/* HEADER */

header {
    /* Debug */
    height: 100px;
}

/* MAIN */

/* Row */

.row {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Col */

.col {
    width: calc(95% / 3);
    padding-top: 3rem;
    position: relative;
}

/* Discount banner */

.discount-banner {
    position: absolute;
    left: 0;
    bottom: 120px;
    color: white;
}

.banner-red,
.banner-green {
    display: inline-block;
    padding: .3em;
    font-weight: bold;
}

.banner-red{
    background-color: red;
    margin-right: 5px;
}

.banner-green {
    background-color: green;
}